{
  "presets": [         
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-async-to-generator",     //支持async写法
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-runtime",
    "react-hot-loader/babel"      //热跟新
  ]
}