{
  "presets": [         
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-3",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import", 
    "transform-async-to-generator",   
    "transform-decorators-legacy",      
    "transform-object-rest-spread",   
    "transform-class-properties",   
    "transform-runtime",
    "react-hot-loader/babel",     
    ["import",{
      "libraryName":"antd",
      "style":true
    }]      
  ]
}