{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-stage-0"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}