.hidden {
  display: none !important;
}
.color-white,
.white-color {
  color: #fff;
}
.primary-color {
  color: #108ee9;
}
.orange-color {
  color: #F67F2F;
}
.warning-color {
  color: #F7C12A;
}
.error-color {
  color: #E41C1E;
}
.success-color {
  color: #35C613;
}
.info-color {
  color: #EDF6FD;
}
.title-color {
  color: #999999;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.img-response {
  width: 100%;
  display: block;
}
.link-active {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
