@import '../shared/styles/vars.less';

.home {
  padding: 50px;
  font-size: 30px;
  text-align: center;
  h2 {
    font-weight: 500;
  }
  .name {
    margin-left: 10px;
    color: @primary-color;
  }
}
